// Copiar para conf/import/char_conf.txt no servidor de producao.
// O PIN e verificado pelo char-server e nunca e coletado pelo VibeGuard.
pincode_enabled: yes
pincode_force: yes
pincode_maxtry: 3
pincode_allow_repeated: no
pincode_allow_sequential: no

